.new-note {
  border: 1px solid black;
  padding: 20px 20px 20px 10px;
}

.notes {
  margin-top: 10px;
  width: 300px;
  height: 500px;
  float: left;
  border: 1px solid black;
  padding: 20px 20px 20px 10px;
  overflow: scroll;
}

.note-spotlight {
  margin-top: 10px;
  width: 600px;
  height: 500px;
  float: right;
  border: 1px solid black;
}
